# PyCharm file, not needed
.idea/

# All of Jason's voice data
ModernOTData/JasonAudio/*.wav
ModernOTData/JasonTest/*.wav

# All audacity projects
ModernOTData/Audacity

.DS_Store


# Python directory
__pycache__/